<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=120.24.237.172;database=mecenter;uid=sa;pwd=wuguiming13579." />
    <add key="Database" value="mecenter" />
    <add key="OutputDir" value=".\GENERATED\" />
    <!--属性配置-->
    <add key="NameSpace" value="DataModel"/>
    <add key="Partial" value="true" />
    <add key="PropertyEvents" value="true" />
    <add key="Validation" value="false" />
  </appSettings>
</configuration>